# Node modules
**/node_modules/

# Environment files (no subir al repo)
# inventory-app/backend/.env

# Excluir DBs sueltas pero mantener la de datos del backend
**/inventory.db
!inventory-app/backend/data/inventory.db

# Backups de base de datos
inventory-app/backend/data/inventory_backup_*.db
